In [9]:
import pandas as pd

In [10]:
# path of the online file
path = "E:\\Subash\\Python\\Data_Science_Practice\\automobile.csv"
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [11]:
df = pd.read_csv(path, names = headers)
df.head()

                               symboling normalized-losses        make  \
symboling normalized-losses         make         fuel-type  aspiration
3         122                alfa-romero               gas         std
          122                alfa-romero               gas         std
1         122                alfa-romero               gas         std
2         164                       audi               gas         std

                                fuel-type   aspiration  num-of-doors  \
symboling normalized-losses  num-of-doors   body-style  drive-wheels
3         122                         two  convertible           rwd
          122                         two  convertible           rwd
1         122                         two    hatchback           rwd
2         164                        four        sedan           fwd

                                  body-style drive-wheels engine-location  \
symboling normalized-losses  engine-location   wheel-base          length
3         122                          front         88.6     0.811148486
          122                          front         88.6     0.811148486
1         122                          front         94.5     0.822681403
2         164                          front         99.8     0.848630466

                              wheel-base    ...     engine-size fuel-system  \
symboling normalized-losses        width    ...            bore      stroke
3         122                0.890277778    ...            3.47        2.68
          122                0.890277778    ...            3.47        2.68
1         122                0.909722222    ...            2.68        3.47
2         164                0.919444444    ...            3.19         3.4

                                          bore      stroke compression-ratio  \
symboling normalized-losses  compression-ratio  horsepower          peak-rpm
3         122                                9         111              5000
          122                                9         111              5000
1         122                                9         154              5000
2         164                               10         102              5500

                            horsepower         peak-rpm city-mpg  \
symboling normalized-losses   city-mpg  highway-L/100km    price
3         122                       21      8.703703704    13495
          122                       21      8.703703704    16500
1         122                       19      9.038461538    16500
2         164                       24      7.833333333    13950

                              highway-mpg      price
symboling normalized-losses  city-L/100km  hp-binned
3         122                 11.19047619     Medium
          122                 11.19047619     Medium
1         122                 12.36842105     Medium
2         164                 9.791666667     Medium

[5 rows x 26 columns]

Identity and Add missing data

In [12]:
import numpy as np

In [13]:
df.replace('?', np.nan, inplace=True)
df.head()

                               symboling normalized-losses        make  \
symboling normalized-losses         make         fuel-type  aspiration
3         122                alfa-romero               gas         std
          122                alfa-romero               gas         std
1         122                alfa-romero               gas         std
2         164                       audi               gas         std

                                fuel-type   aspiration  num-of-doors  \
symboling normalized-losses  num-of-doors   body-style  drive-wheels
3         122                         two  convertible           rwd
          122                         two  convertible           rwd
1         122                         two    hatchback           rwd
2         164                        four        sedan           fwd

                                  body-style drive-wheels engine-location  \
symboling normalized-losses  engine-location   wheel-base          length
3         122                          front         88.6     0.811148486
          122                          front         88.6     0.811148486
1         122                          front         94.5     0.822681403
2         164                          front         99.8     0.848630466

                              wheel-base    ...     engine-size fuel-system  \
symboling normalized-losses        width    ...            bore      stroke
3         122                0.890277778    ...            3.47        2.68
          122                0.890277778    ...            3.47        2.68
1         122                0.909722222    ...            2.68        3.47
2         164                0.919444444    ...            3.19         3.4

                                          bore      stroke compression-ratio  \
symboling normalized-losses  compression-ratio  horsepower          peak-rpm
3         122                                9         111              5000
          122                                9         111              5000
1         122                                9         154              5000
2         164                               10         102              5500

                            horsepower         peak-rpm city-mpg  \
symboling normalized-losses   city-mpg  highway-L/100km    price
3         122                       21      8.703703704    13495
          122                       21      8.703703704    16500
1         122                       19      9.038461538    16500
2         164                       24      7.833333333    13950

                              highway-mpg      price
symboling normalized-losses  city-L/100km  hp-binned
3         122                 11.19047619     Medium
          122                 11.19047619     Medium
1         122                 12.36842105     Medium
2         164                 9.791666667     Medium

[5 rows x 26 columns]

Evaluating for missing data

In [14]:
missing_data = df.isnull()
missing_data.head()

                             symboling  normalized-losses   make  fuel-type  \
symboling normalized-losses      False              False  False      False
3         122                    False              False  False      False
          122                    False              False  False      False
1         122                    False              False  False      False
2         164                    False              False  False      False

                             aspiration  num-of-doors  body-style  \
symboling normalized-losses       False         False       False
3         122                     False         False       False
          122                     False         False       False
1         122                     False         False       False
2         164                     False         False       False

                             drive-wheels  engine-location  wheel-base  ...    \
symboling normalized-losses         False            False       False  ...
3         122                       False            False       False  ...
          122                       False            False       False  ...
1         122                       False            False       False  ...
2         164                       False            False       False  ...

                             engine-size  fuel-system   bore  stroke  \
symboling normalized-losses        False        False  False   False
3         122                      False        False  False   False
          122                      False        False  False   False
1         122                      False        False  False   False
2         164                      False        False  False   False

                             compression-ratio  horsepower  peak-rpm  \
symboling normalized-losses              False       False     False
3         122                            False       False     False
          122                            False       False     False
1         122                            False       False     False
2         164                            False       False     False

                             city-mpg  highway-mpg  price
symboling normalized-losses     False        False  False
3         122                   False        False  False
          122                   False        False  False
1         122                   False        False  False
2         164                   False        False  False

[5 rows x 26 columns]

Counting missing values in each column

In [15]:
for col in missing_data.columns.values.tolist():
    print (col)
    print (missing_data[col].value_counts())
    print (' ')

symboling
False    202
Name: symboling, dtype: int64

normalized-losses
False    202
Name: normalized-losses, dtype: int64

make
False    202
Name: make, dtype: int64

fuel-type
False    202
Name: fuel-type, dtype: int64

aspiration
False    202
Name: aspiration, dtype: int64

num-of-doors
False    202
Name: num-of-doors, dtype: int64

body-style
False    202
Name: body-style, dtype: int64

drive-wheels
False    202
Name: drive-wheels, dtype: int64

engine-location
False    202
Name: engine-location, dtype: int64

wheel-base
False    202
Name: wheel-base, dtype: int64

length
False    202
Name: length, dtype: int64

width
False    202
Name: width, dtype: int64

height
False    202
Name: height, dtype: int64

curb-weight
False    202
Name: curb-weight, dtype: int64

engine-type
False    202
Name: engine-type, dtype: int64

num-of-cylinders
False    202
Name: num-of-cylinders, dtype: int64

engine-size
False    202
Name: engine-size, dtype: int64

fuel-system
False    202
Name: fuel-system, dtype: int64

bore
False    202
Name: bore, dtype: int64

stroke
False    202
Name: stroke, dtype: int64

compression-ratio
False    202
Name: compression-ratio, dtype: int64

horsepower
False    202
Name: horsepower, dtype: int64

peak-rpm
False    202
Name: peak-rpm, dtype: int64

city-mpg
False    202
Name: city-mpg, dtype: int64

highway-mpg
False    202
Name: highway-mpg, dtype: int64

price
False    201
True       1
Name: price, dtype: int64

Replace by mean:

"normalized-losses": 41 missing data, replace them with mean
"stroke": 4 missing data, replace them with mean
"bore": 4 missing data, replace them with mean
"horsepower": 2 missing data, replace them with mean
"peak-rpm": 2 missing data, replace them with mean
Replace by frequency:

"num-of-doors": 2 missing data, replace them with "four". 
    * Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to 
Drop the whole row:

"price": 4 missing data, simply delete the whole row
    * Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore they are not useful to us

In [16]:
avg1 = df['normalized-losses'].astype('float').mean(axis=0)
df['normalized-losses'].replace(np.nan, avg1, inplace=True)

ValueError: could not convert string to float: gas

In [ ]:
avg2 = df['stroke'].astype('float').mean(axis=0)
df['stroke'].replace(np.nan, avg2, inplace=True)

In [ ]:
avg3 = df['bore'].astype('float').mean(axis=0)
df['bore'].replace(np.nan, avg3, inplace=True)

In [ ]:
avg4 = df['horsepower'].astype('float').mean(axis=0)
df['horsepower'].replace(np.nan, avg4, inplace=True)

In [ ]:
avg5 = df['peak-rpm'].astype('float').mean(axis=0)
df['peak-rpm'].replace(np.nan, avg5, inplace=True)

In [ ]:
df['num-of-doors'].value_counts()

In [ ]:
df['num-of-doors'].value_counts().idxmax()

In [ ]:
df['num-of-doors'].replace(np.nan, 'four', inplace=True)

Finally, let's drop all rows that do not have price data

In [ ]:
df.dropna(subset=['price'], axis=0, inplace=True)

In [ ]:
df.reset_index(drop = True, inplace=True)

In [ ]:
df.head()

Correct data format

In [ ]:
df.dtypes

In [ ]:
df[['bore', 'stroke', 'peak-rpm', 'price']] = df[['bore', 'stroke', 'peak-rpm', 'price']].astype('float')

In [ ]:
df[['normalized-losses', 'horsepower']] = df[['normalized-losses', 'horsepower']].astype('int')

In [ ]:
df.dtypes

Data Standardization

In [ ]:
df.head()

In [ ]:
df['city-L/100km'] = 235/df['city-mpg']
df.head()

In [ ]:
df['highway-mpg'] = 235/df['highway-mpg']
df.rename(columns={'highway-mpg' : 'highway-L/100km'}, inplace=True)

In [ ]:
df.head()

Data Normalization

In [ ]:
df['length'].head()

In [ ]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['length'].max()

In [ ]:
df.head()

Binning

In [ ]:
#Convert data to correct format
df['horsepower'] = df['horsepower'].astype('float', copy=True)

In [ ]:
df['horsepower'].head()

In [ ]:
binwidth = (max(df['horsepower']) - min(df['horsepower'])) / 4
binwidth

In [ ]:
bins = np.arange(min(df['horsepower']), max(df['horsepower']), binwidth)
bins

In [ ]:
group_names = ['Low', 'Medium', 'High']

In [ ]:
df['hp-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True)

In [ ]:
df[['hp-binned', 'horsepower']].head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df['horsepower'].plot(kind='hist', bins = 3)

plt.title('Horse Power bins')
plt.xlabel('Horse Power')
plt.ylabel('Count')
plt.show()

Indicator variable (or dummy variable)
What is an indicator variable?

An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning.
Why do we use indicator variables?

So that we can use categorical variables for regression analysis in the later modules.
Example

We see the column "fuel-type" has two unique values, "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" into indicator variables.
We will use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type.

In [ ]:
df.columns

In [ ]:
dummy_var1 = pd.get_dummies(df['fuel-type'])
dummy_var1.head()

In [ ]:
df.columns.values

In [ ]:
dummy_var1.rename(columns={'fuel-type-diesel':'gas', 'fuel-type-diesel':'diesel'}, inplace=True)

In [ ]:
df['diesel'].head()

In [ ]:
df.drop("fuel-type", axis = 1, inplace=True)
df.head()

In [ ]:
df['diesel'].head()

In [ ]:
dummy_var2 = pd.get_dummies(df['aspiration'])

In [ ]:
dummy_var2.head()

In [ ]:
dummy_var2.rename(columns={'std':'aspiration-std', 'turbo':'aspiration-turbo'}, inplace=True)
df.head()

In [ ]:
df.columns

In [ ]:
df.to_csv(path)